.additional-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);

  @media (min-width: 768px) {
    grid-template-rows: repeat(2, auto);
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 245px;
    grid-template-rows: 1fr;
  }
}

.additional-card__link {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
}

.additional-card__title {
  margin: 0 0 13px;
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $Mine-Shaft;

  @media (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 24px;
  }

  @media (min-width: 1440px) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
}

.additional-card__list {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  font-family: $Arial;
  line-height: 14px;
  margin: 0 0 12px;

  @media (min-width: 768px) {
    grid-column: 2/-1;
    grid-row: 1/2;
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 20px;
    margin: 3px 0 0;
  }

  @media (min-width: 1440px) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }
}

.additional-card__term {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;

  @media (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 1/-1;
    place-self: start end;
    margin-right: 15px;
  }

  @media (min-width: 1440px) {
    place-self: center start;
  }
}

.additional-card__description {
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: 768px) {
    grid-column: 2/-1;
    grid-row: 1/2;
    place-self: start end;
    margin-right: 1px;
  }

  @media (min-width: 1440px) {
    place-self: center start;
  }
}

.additional-card__button {
  grid-column: 1/3;
  grid-row: 3/4;

  @media (min-width: 768px) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  @media (min-width: 1440px) {
    grid-column: 3/-1;
    grid-row: 1/2;
  }
}
