.additional-products {
  @media (min-width: 1440px) {
    grid-column: 1/2;
    grid-row: -1/-2;
  }
}

.additional-products__wrapper {
  padding: 25px 0 0;

  @media (min-width: 768px) {
    padding: 108px 37px 0;
  }

  @media (min-width: 1440px) {
    padding: 74px 0 0;
  }
}

.additional-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $Black;
  margin: 0 0 35px;

  @media (min-width: 768px) {
    margin: 0 0 78px;
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__list {
  padding: 0;
  margin: 0 0 35px;

  @media (min-width: 768px) {
    margin: 0 0 69px;
  }
}

.additional-products__item {
  padding: 13px 0 18px;
  border-top: 1px solid $Silver;

  @media (min-width: 768px) {
    padding: 27px 0;
  }

  &:last-child {
    border-bottom: 1px solid $Silver;
  }

  @media (min-width: 1440px) {
    padding: 16px 0;
  }
}
