.card-product {
  display: grid;
  grid-template-columns: repeat(3, 50% 25% 25%);
  grid-template-rows: repeat(3, auto);

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.card-product__picture-link {
  display: block;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;


  @media (min-width: 768px) {
    width: 100%;
    min-height: 200px;
    margin-bottom: 35px;
  }
}

.card-product__link {
  display: block;
  grid-column: 2/4;
  grid-row: 1/2;
  text-decoration: none;
}

.card-product__title {
  margin: 0;
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $Mine-Shaft;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 21px;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    br {
      display: none;
    }
  }
}

.card-product__list {
  margin: 0;
  padding: 14px 0 22px;
  grid-column: 2/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  font-family: $Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $Tundora;

  @media (min-width: 768px) {
    width: 100%;
    font-size: 16px;
  }
}
.card-product__term {
padding: 9px 0;
border-bottom: 1px solid $Silver;
}
.card-product__description {
  padding: 9px 0;
  border-bottom: 1px solid $Silver;
  margin: 0;
  text-align: right;
}

.card-product__button {
  grid-column: 1/4;
  grid-row: 3/4;

  @media (min-width: 768px) {
    width: 100%;
  }
}
