.extra-gift {
  position: relative;
  background-image: url("../img/image2.jpg"), linear-gradient($green-transparent, $green-transparent);
  background-blend-mode: overlay;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 768px) {
    background-size: cover;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    grid-column: 2/-1;
    grid-row: -1/-2;
    align-items: end;
    align-self: end;
  }
}

.extra-gift__wrapper {
  margin-bottom: 35px;
  min-height: 288px;

  @media (min-width: 768px) {
    margin-bottom: 76px;
    min-height: 200px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 71px;
    min-height: 289px;
  }
}

.extra-gift__text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-family: $Arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $White;
  width: 60%;
  margin: 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    top: 72px;
    left: 657px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 66%;
  }

  @media (min-width: 1440px) {
    top: 65%;
    left: 50%;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: -215%;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../img/icon_gift.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 768px) and (max-width: 1439px) {
      top: 45%;
      transform: translateY(-50%);
      left: -344px;
    }

    @media (min-width: 1440px) {
      top: -218%;
      left: 123px;
    }
  }
}
