.invite {
  @media (min-width: 1440px) {
    position: relative;
  }
}

.invite {
  &_tinted {
    background-color: $Concrete;
  }
}

.invite__container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 25px 0;

  @media (min-width: 768px) {
    padding: 60px 70px 56px;
  }

  @media (min-width: 1440px) {
    position: absolute;
    left: 110px;
    top: 95px;
    width: 565px;
    background-color: $White;
    padding: 60px 80px 56px;
  }
}

.invite__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $Cod-Gray;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invite__contacts {
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  color: $Tundora;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  @media (min-width: 768px) {
    font-size: 16px;
    align-items: end;
    text-align: right;
  }

  @media (min-width: 1440px) {
    align-items: start;
    text-align: left;
  }
}

.invite__city {
  display: block;
}

.invite__street {
  display: block;
}
