.legend-title {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 768px) {
    margin-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -100vw;
    top: calc(50% - 1px);
    right: calc(100% + 20px);
    bottom: calc(50% - 1px);
    background-color: $Apple;

    @media (min-width: 768px) {
      right: calc(100% + 30px);
    }

    @media (min-width: 1440px) {
      right: calc(100% + 40px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: calc(100% + 20px);
    top: calc(50% - 1px);
    right: -100vw;
    bottom: calc(50% - 1px);
    background-color: $Apple;

    @media (min-width: 768px) {
      left: calc(100% + 30px);
    }

    @media (min-width: 1440px) {
      left: calc(100% + 40px);
    }
  }
}
