.living-example {
  position: relative;
  background-color: $Gallery;

  @media (min-width: 768px) {
    background: linear-gradient(to top, $Gallery 461px, $White 461px, $White 100%);
  }
}

.living-example__container {
  padding-bottom: 37px;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 440px 50%;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 180px;
    margin-bottom: 0;
    padding-bottom: 56px;
  }
}

.living-example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $Black;
  margin: 0 0 40px;
  padding-top: 25px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 64px;
    padding-top: 43px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 148px;
    padding: 21px 0 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.living-example__text {
  font-family: $Arial;
  margin: 0 0 20px 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    width: 98%;
  }

  @media (min-width: 1440px) {
    margin: 0 0 67px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.living-example__inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 16px;
  grid-row-gap: 34px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 162px 162px 1fr;
    grid-template-rows: auto;
    gap: 42px;
    margin-bottom: 104px;
  }

  @media (min-width: 1440px) {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
    grid-template-columns: repeat(2, 162px);
    grid-template-rows: 74px 55px;
    grid-column-gap: 42px;
    grid-row-gap: 41px;
    margin: 0;
  }
}

.living-example__list {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 13px 0 9px;
  border: 1px solid $Silver;
  border-radius: 3px;
  width: 122px;

  @media (min-width: 768px) {
    padding: 0;
    width: 160px;
  }

  &_left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &_right {
    grid-column: -2 / -1;
    grid-row: 1 / 2;

    @media (min-width: 768px) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0;
    }
  }
}

.living-example__term {
  position: absolute;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, -50%);
  font-family: $Arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $Tundora;
  width: 67%;
  display: inline;
  background-color: $Gallery;

  @media (min-width: 768px) {
    display: block;
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    margin: 0;
    padding: 0 8px;
    bottom: -13px;
    background-color: $White;
  }

  @media (min-width: 1440px) {
    background-color: $Gallery;
  }
}

.living-example__defenition {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 24px;
  color: $Black;

  @media (min-width: 768px) {
    margin: 0;
    font-size: 30px;
    line-height: 37px;
    padding: 14px 0 19px;
  }
}

.living-example__consumption {
  margin: 0;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  color: $Black;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    text-align: right;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 9px;
  }

  @media (min-width: 1440px) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
  }

  &_term {
    padding: 0 3px 0 0;
    letter-spacing: 0.1px;

    @media (min-width: 768px) {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      margin: 0;
      text-align: right;
      padding: 0;
    }

    @media (min-width: 1440px) {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      text-align: left;
    }
  }

  &_defenition {
    display: inline;
    text-align-last: left;

    @media (min-width: 768px) {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      grid-row-gap: 9px;
      text-align-last: right;
    }

    @media (min-width: 1440px) {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      text-align: left;
      padding: 0 38px 0 0;
    }
  }
}

.living-example__slider {
  margin: 0;

  @media (min-width: 768px) {
    padding-bottom: 97px;
  }

  @media (min-width: 1440px) {
    margin-left: 29px;
    padding: 0;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}
