.menu__item {
  list-style-type: none;

  @media (min-width: 768px) {
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu__link {
  display: block;
  padding: 20px 0;
  font-family: $Oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $Black;
  text-align: center;
  border-bottom: 1px solid transparent;

  @media (min-width: 768px) {
    display: block;
    padding: 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &_active {
      border-color: $Apple;
    }
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;

    &_bleached {
      color: $White;
    }

    &_active_bleached {
      border-color: $White;
    }
  }
}
