.navigation {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

.navigation__header {
  padding: 0 0 12px 0;
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 6px calc(12 / 768 * 100vw) 8px 0;
  }

  @media (min-width: 1440px) {
    padding: 6px 0 6px 0;
  }
}

.navigation__logo {
  display: block;
  transition-property: opacity;
  transition-duration: 0.3s;

  &_image {
    @media (min-width: 768px) {
      padding: 6px calc(12 / 768 * 100vw) 8px 0;
    }

    @media (min-width: 1440px) {
      padding: 5px 14px 8px 0;
    }
  }

  &_text {
    padding: 3px 0 0 0;

    @media (min-width: 1440px) {
      padding: 3px 0 0;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.navigation__picture {
  height: 100%;
}

.navigation__menu {
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
