.page-footer {
  background-color: $Concrete;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 49px;
  }

  @media (min-width: 1440px) {
    padding: 53px 0 44px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $Alto;
  padding: 32px 0 31px 0;
  transition-property: fill, opacity;
  transition-duration: 0.3s;
  fill: $Cod-Gray;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 0;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid $Alto;
  margin: 0;
  padding: 22px 73px 18px 76px;

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 0 0 0 28px;
  }
}

.page-footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  fill: $Dove-Gray;
  transition-property: fill, opacity;
  transition-duration: 0.3s;
  padding: 21px 0 21px;

  &:hover {
    fill: $Apple;
  }

  &:active {
    fill: $Apple;
    opacity: 0.3;
  }

  &:disabled {
    fill: $Apple;
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 768px) {
    padding: 6px 0 0 0;
  }
}

.page-footer__academy-picture {
  fill: inherit;
}

.page-footer__text {
  font-family: $Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $Tundora;
  padding-bottom: 11px;

  @media (min-width: 768px) {
    margin-right: 22px;
    padding: 0;
  }
}
