.page-header {
  width: 100%;

  &_absolute {
    @media (min-width: 1440px) {
      position: absolute;
      z-index: 10;
    }
  }
}

.page-header__container {
  padding: 19px 0 18px;

  @media (min-width: 1440px) {
    padding: 48px 0 29px;
  }
}
