.page-header {
  width: 100%;

  @media (min-width: 768px) {
    padding: 24px 0 32px;
  }

  &_absolute {
    @media (min-width: 1440px) {
      position: absolute;
      padding: 53px 0 0;
      z-index: 10;
    }
  }
}
