.program-version {
  margin: 0;
  padding: 0;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.program-version__item {
  background-color: $Concrete;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 23px 23px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    padding: 81px 53px 53px;
  }

  @media (min-width: 1440px) {
    width: 466px;
    margin: 82px 0 0;
    padding: 77px 52px 59px;
  }
}

.program-version__title {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $Black;
  margin: 0 0 29px;
  padding-left: 80px;

  @media (min-width: 768px) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 73px;
    padding-left: 162px;
  }

  &::before {
    content: "";
    background-image: url("../img/cat_back.svg");
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);

    @media (min-width: 768px) {
      left: auto;
      right: 162px;
      width: 200px;
      height: 211px;
      transform: translate(50%, 0%);
    }

    @media (min-width: 1440px) {
      top: 50%;
      left: 0;
      width: 100px;
      height: 106px;
      transform: translateY(-50%);
    }
  }

  &_walking-cat {
    &::before {
      background-image: url("../img/cat_back1.svg");
      width: 67px;

      @media (min-width: 768px) {
        width: 268px;
        height: 200px;
      }

      @media (min-width: 1440px) {
        top: 50%;
        left: 0;
        width: 100px;
        height: 106px;
        transform: translateY(-50%);
      }
    }
  }
}

.program-version__text {
  font-family: $Arial;
  margin-bottom: 23px;

  @media (min-width: 768px) {
    width: calc(340 / 708 * 100%);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: 1440px) {
    width: 100%;
    margin-bottom: 23px;
  }
}

.program-version__link {
  display: block;
  position: relative;
  padding: 18px 0;
  border-top: 1px solid $Alto;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $Black;

  &::after {
    content: "";
    background-image: url("../img/arrow.svg");
    background-position: 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 98px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25px;

    @media (min-width: 768px) {
      left: 85%;
    }
  }

  @media (min-width: 768px) {
    width: 25%;
    border: none;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1440px) {
    width: 35%;
  }
}
