.program-selection {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    column-gap: 80px;
  }
}

.program-selection__item {
  border: none;
  border-bottom: 1px solid $Alto;
  padding: 0 0 65px;

  &:last-child {
    border: none;
  }

  @media (min-width: 768px) {
    border: none;
  }
}

.program-selection__button {
  min-height: 40px;
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $White;
  background-color: $Apple;
  border: none;
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.program-selection__text {
  font-family: $Arial;
  line-height: 16px;
  color: $Black;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1440px) {
    justify-content: flex-start;
  }
}
