.program-form__list {
  list-style-type: none;
  padding: 0;

  &_contact-details {
    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &_additionally {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4);
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

.program-form__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program-form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $Tundora;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }

  &_dark {
    color: $Mine-Shaft;
  }

  &_blak {
    color: $Black;
  }
}

.program-form__input {
  font-family: $Oswald;
  font-size: 16px;
  text-transform: uppercase;
  color: $Tundora;

  &::placeholder {
    font-family: $Oswald;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $Tundora;
  }
}

.program-form__legend {
  font-size: 24px;
  line-height: 26px;
  color: $Black;
}

.program-form__textarea {
  &::placeholder {
    font-family: $Oswald;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $Tundora;
  }
}
