.promo {
  position: relative;

  &::before {
    content: "";
    background-color: $green-transparent;
    background-image: url("../img/index-background.jpg");
    background-blend-mode: overlay;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 302px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background@2x.jpg");
    }

    @media (min-width: 768px) {
      display: none;
    }

    @media (min-width: 1440px) {
      display: block;
      left: 50%;
      top: 0;
      height: 694px;
      width: 50%;
      background-image: url("../img/index-background-desktop.jpg");
      background-position: center;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.promo__container {
  position: relative;
  min-height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 27px 0 0 0;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1440px) {
    position: static;
    padding: 189px 0 0 0;
    justify-content: flex-start;
    align-items: start;
  }
}

.promo__title {
  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  color: $White;
  text-align: center;
  margin: 0 0 25px;
  padding: 0 0;

  @media (min-width: 768px) {
    color: $Black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 35px 0 41px 87px;
  }

  @media (min-width: 1440px) {
    padding: 35px 0 40px 80px;
  }
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
  color: $White;
  text-align: center;
  margin: 0 0 29px 0;

  @media (min-width: 768px) {
    color: $Black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    flex-grow: 0;
    margin: 0 0 49px;
    padding: 0 0 0 89px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 51px;
    padding: 0 50% 0 80px;
  }
}

.promo__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;

  @media (min-width: 768px) {
    position: absolute;
    left: 0;
    top: 236px;
    width: 707px;
    height: 609px;
    z-index: -1;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    width: 552px;
    height: 498px;
    top: 142px;
    left: 558px;
    z-index: 0;
  }
}

.promo__image {
  background-color: transparent;
  width: 280px;
  height: 270px;

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.promo__link {
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $Apple;
  color: $White;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: -1px;
  transition-property: background-color, color;
  transition-duration: 0.3s;

  &:hover {
    background-color: $Apple-Dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    display: block;
    width: 245px;
    margin: 0 0 526px 90px;
    padding: 18px 0 16px;
    font-size: 20px;
    letter-spacing: normal;
  }

  @media (min-width: 1440px) {
    display: inline;
    position: static;
    font-size: 20px;
    margin: 0 0 185px 80px;
    width: 244px;
  }
}
