.show-more__wrapper {
  background-image: url("../img/plus.svg");
  background-position: 50% 3%;
  background-size: 11%;
  background-repeat: no-repeat;
  padding: 58px 0 0;

  @media (min-width: 768px) {
    padding: 0 36px 36px;
    background-position: 131px 14%;
    background-size: 60px;
    min-height: 389px;
    border: 2px solid $Concrete;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    background-position: 50% 14%;
    background-size: 24%;
  }
}

.show-more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $Cod-Gray;
  margin: 0 0 8px;

  @media (min-width: 768px) {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
}

.show-more__text {
  font-family: $Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 21px;

  @media (min-width: 768px) {
    margin: 0 0 86px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    padding: 0;
  }
}

.show-more__button {
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $Tundora;
  background-color: $Concrete;
  border: none;
  width: 100%;
  padding: 10px 0;
  transition-property: background-color, color;
  transition-duration: 0.3s;

  @media (min-width: 768px) {}

  &:hover {
    background-color: $Gallery-Dark;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.line-break {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
