.show-more__wrapper {
  height: 100%;
  background-image: url("../img/plus.svg");
  background-position: 50% 32%;
  background-size: 18%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 1440px) {
    background-position: 50% 31%;
    background-size: 36%;
  }
}

.show-more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $Cod-Gray;
  margin: 0 0 8px;

  @media (min-width: 768px) {
    width: 50%;
    margin: 0 0 23px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
}

.show-more__text {
  font-family: $Arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 21px;

  @media (min-width: 768px) {
    margin: 0 0 89px;
    width: 60%;
    line-height: 18px;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
  }
}

.show-more__button {
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $Tundora;
  background-color: $Concrete;
  border: none;
  width: 100%;
  padding: 10px 0;
}

.line-break {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
