.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slider__button {
  position: absolute;
  padding: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  width: 40px;
  cursor: pointer;
  transition-property: fill, stroke, opacity;
  transition-duration: 0.3s;
  stroke: $Dove-Gray;
  fill: $Dove-Gray;

  @media (min-width: 1440px) {
    top: 22px;
  }

  &:hover {
    stroke: $Apple;
    fill: $Apple;
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__picture {
  @media (min-width: 1440px) {
    position: relative;
    top: 22px;
  }
}
