.social__item {
  margin-right: 1px;

  @media (min-width: 768px) {
    margin-right: 26px;
  }

  &:last-child {
    margin: 0;
  }
}

.social__link {
  fill: $Dove-Gray;
  transition-property: fill, opacity;
  transition-duration: 0.3s;

  &_youtube {
    padding-right: 6px;
  }

  &:hover {
    fill: $Apple;
  }

  &:active {
    fill: $Apple;
    opacity: 0.3;
  }

  &:disabled {
    fill: $Apple;
    opacity: 0.3;
  }
}

.social__link-picture {
  fill: inherit;
}
