.additional-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $most-black;
}

.additional-products__list {
  padding: 0;
}

.additional-products__item {
  margin-bottom: 19px;
}
