.invite {
  &_tinted {
    background-color: $Concrete;
  }
}

.invite__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: 768px) {
    padding: 60px 40px 56px;
  }
}

.invite__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $Cod-Gray;
  margin: 0;
  width: calc(50% - 1px);

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    width: 25%;
  }
}

.invite__contacts {
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  color: $Tundora;
  width: calc(50% - 1px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  min-height: 100%;

  @media (min-width: 768px) {
    font-size: 16px;
    width: 25%;
    align-items: end;
    text-align: right;

  }
}

.invite__city {
  display: block;
}

.invite__street {
  display: block;
}
