.invite {
  &_tinted {
    background-color: $grey;
  }
}

.invite__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 26px 0;
}

.invite__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  width: calc(50% - 1px);
}

.invite__contacts {
  font-family: $arial;
  font-style: normal;
  line-height: 20px;
  color: $dark;
  width: calc(50% - 1px);
}
