.navigation {
  position: relative;
  padding: 10px 0 18px;
}

.navigation__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(191 / 280 * 100%);
}

.navigation__logo-image {}

.navigation__button {
  position: absolute;
  top: 25px;
  right: 20px;
}

.navigation__menu {
  padding: 0;
}
