.navigation {
  position: relative;
  padding: 10px 0 18px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

.navigation__logo {
  display: block;

  &_image {
    @media (min-width: 768px) {
      padding: 8px calc(12 / 768 * 100vw) 8px 0;
    }
  }

  &_text {
    @media (min-width: 768px) {
      padding: 13px 0;
    }
  }
}

.navigation__picture {
  height: 100%;
}

.navigation__menu {
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
