.page-footer {
  background-color: $grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 39px 0 32px;
  border-bottom: 1px solid $light-grey;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid $light-grey;
  margin: 0;
  padding: 0;
}

.page-footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.page-footer__text {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $dark;
  padding: 22px 0;
}
