.program-form__list {
  list-style-type: none;
  padding: 0;
}

.program-form__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program-form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;

  &_dark {
    color: #222222;
  }

  &_blak {
    color: #000000;
  }
}

.program-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
}

.program-form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.program-form__textarea {
  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
}
