.program-selection__item {
  margin: 0;
  padding: 0;
  border: 0;
}

.program-selection__button {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;
  width: 100%;
  padding: 7px 0;
}

.program-selection__text {
  line-height: 16px;
  color: $most-black;
  text-align: center;
}
