.promo {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/index-background.jpg"), linear-gradient($green-transparent, $green-transparent);
    background-blend-mode: overlay;
    position: absolute;
    left: 0;
    top: -27px;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(302 / 480 * 100%);

    @media (min-width: 768px) and (max-width: 1439px) {
      display: none;
    }
  }
}

.promo__container {
  position: relative;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo__title {
  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  color: $White;
  margin: 0 auto 25px;
  text-align: center;

  @media (min-width: 768px) {
    color: $Black;
    text-align: left;
    margin: 64px 0 25px 62px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  margin: 0 0 29px;
  line-height: 14px;
  text-transform: uppercase;
  color: $White;
  text-align: center;
  flex-grow: 1;

  @media (min-width: 768px) {
    color: $Black;
    text-align: left;
    margin: 0 0 29px 62px;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__image {
  background-color: transparent;
  width: 280px;
  height: 270px;

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.promo__link {
  display: block;
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $Apple;
  color: $White;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    position: absolute;
    left: 62px;
    top: 294px;
    margin: 0;
    padding: 14px 26px;
  }
}
