.show-more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $Cod-Gray;
  margin: 57px 0 8px;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 21px;
}

.show-more__button {
  font-family: $Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $Tundora;
  background-color: $Concrete;
  border: none;
  width: 100%;
  padding: 10px 0;
}
