@use "fonts.scss";
@use "additional-card.scss";
@use "additional-products.scss";
@use "button.scss";
@use "card-product.scss";
@use "container.scss";
@use "extra-gift.scss";
@use "invite.scss";
@use "living-example.scss";
@use "main-catalog.scss";
@use "main-container.scss";
@use "main-form.scss";
@use "main-index.scss";
@use "map.scss";
@use "menu.scss";
@use "navigation.scss";
@use "page-footer.scss";
@use "page-header.scss";
@use "product-description.scss";
@use "products.scss";
@use "program-form.scss";
@use "program-selection.scss";
@use "program-version.scss";
@use "promo.scss";
@use "show-more.scss";
@use "slider.scss";
@use "slider-control.scss";
@use "social.scss";
@use "visually-hidden.scss";




html {
  height: 100%;
}

body {
  position: relative;
  display: flex;
  min-height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #FFFFFF;
}
