$White: #ffffff;
$Gallery: #eaeaea;
$Gallery-Dark: #ebebeb;
$Concrete: #f2f2f2;
$Alto: #d9d9d9;
$Black: #000000;
$Cod-Gray: #111111;
$Mine-Shaft: #222222;
$Tundora: #444444;
$Apple: #68b738;
$Apple-Dark: #5eaa2f;
$Dove-Gray: #666666;
$Silver: #cdcdcd;
$Silver-Dark: #bababa;
$Mercury: #e7e7e7;
$Mercury-Dark: #e6e6e6;
$Vivid-Tangerine: #ff8282;
$green-transparent: rgba($Apple, 0.85);
$Oswald: "Oswald", "Arial", sans-serif;
$Arial: "Arial", sans-serif;
