// $arial: "Arial", sans-serif;
// $oswald: "Oswald", "Arial", sans-serif;
$arial: Arial;
$oswald: sans-serif;
$white: #ffffff;
$most-black: #000000;
$black: #111111;
$almost-black: #222222;
$dark: #444444;
$light-black: #c4c4c4;
$green: #68b738;
$grey: #f2f2f2;
$light-grey: #d9d9d9;
$dark-grey: #eaeaea;
$border-grey: #ebebeb;

